.backend-nav
	border-bottom 1px solid firebrick
	& li.active
		& a
			border 1px solid firebrick
			background-color firebrick
			color white
			&:hover
				border 1px solid red
				background-color red
				color white
