<template name="backendNav">

	<ul class="backend-nav nav nav-tabs mgb15">
		<li class="{{activeFor 'backend'}}">
			<a href="{{pathFor 'backend'}}">首页</a>
		</li>
		<li class="{{activeFor 'backendNotices'}}">
			<a href="{{pathFor 'backendNotices'}}">公告</a>
		</li>
		<li class="{{activeFor 'backendTalksUnanswered'}}">
			<a href="{{pathFor 'backendTalksUnanswered'}}">未答复约谈</a>
		</li>
		<li class="{{activeFor 'backendSuggestionsUncompleted'}}">
			<a href="{{pathFor 'backendSuggestionsUncompleted'}}">未完结提案</a>
		</li>
		<li class="{{activeFor 'backendMessagesUnanswered'}}">
			<a href="{{pathFor 'backendMessagesUnanswered'}}">未答复留言</a>
		</li>
		<li class="{{activeFor 'backendArchievements'}}">
			<a href="{{pathFor 'backendArchievements'}}">成果展示</a>
		</li>
	</ul>

</template>
