<template name="signup">

	<form action="javascript:;" id="signupForm">
		<div class="form-group">
			<input type="text" name="username" class="form-control" placeholder="用户名" required>
		</div>
		<div class="form-group">
			<input type="text" name="email" class="form-control" placeholder="电子邮件" required>
		</div>
		<div class="form-group">
			<input type="password" name="password" class="form-control" placeholder="密码" required>
		</div>
		<div class="form-group">
			<input type="text" name="profile.realname" class="form-control" placeholder="姓名" required>
		</div>
		<div class="form-group">
			<input type="text" name="profile.mobile" class="form-control" placeholder="手机号码" required>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-success" value="注册">
		</div>
	</form>

</template>
