<template name="myTalksList">

	<h3>我的谈话内容</h3>
	<ul class="list-unstyled">
		{{#each myTalksList}}
			{{> myTalksItem}}
		{{/each}}
	</ul>

</template>

<template name="myTalksItem">

	<li class="mgb15">
		<div class="alert {{checkResponse}}">
			{{#if answer}}
				<div class="well well-sm nmg">
					<p class="nmg">{{answer}}</p>
					<small>回复于 {{moment answeredAt 'YYYY.MM.DD'}}</small>
				</div>
			{{/if}}
			<p class="nmg">{{content}}</p>
			<div class="clearfix">
				<ul class="list-inline pull-right">
					{{#unless answer}}
						<li>
							<a href="javascript:;" class="btn btn-danger btn-xs remove">删除</a>
						</li>
					{{/unless}}
				</ul>
				<ul class="list-inline">
					<li>
						<small>发布于 {{moment createdAt 'YYYY.MM.DD'}}</small>
					</li>
				</ul>
			</div>
		</div>
	</li>

</template>
