<template name="home">

	<div class="mgb30">
		<h4>爱建街道政协工委致市民</h4>
		<p class="text-indent">近年来，随着互联网的不断普及，网民素质的不断提升，网民参政议政的热情越来越高。政协作为中国共产党领导的多党合作和政治协商机构，将与时俱进，高度关注和重视网络民意，不断提高自身履行职能的能力和水平。我们真诚邀请并热切期盼各位网友能够来这里，对我们的工作提出批评和指导，对哈尔滨经济社会发展建言献策。我们将竭尽所能，倾听你的声音，帮助你解难释疑。 “哈尔滨爱建政协议政平台”即是我们委员履职的平台，也是广大网友知政建言的渠道，更是我们相互交流与沟通的桥梁和纽带，只有我们携起手来，才能让这片天地焕发出强大的生命力。在此爱建街道政协工委真诚的邀请你走进哈尔滨爱建政协，走进我们的“议政平台”，为共谱哈尔滨美好的明天一起奋斗！谢谢！</p>
	</div>

	<div>
		<h4>公告栏</h4>
		<ul>
			<li>
				<a href=""></a>
			</li>
		</ul>
	</div>

</template>
