<template name="unansweredMessagesList">

	<h3>请尽快答复约谈的内容</h3>
	<ul class="list-unstyled">
		{{#each unansweredMessagesList}}
			{{> unansweredMessageItem}}
		{{/each}}
	</ul>

</template>

<template name="unansweredMessageItem">

	<li class="mgb30">
		<div>
			<p class="mgb10">{{content}}</p>
			<form action="javascript:;">
				<div class="form-group mgb10">
					<textarea name="content" class="form-control input-sm nmg" placeholder="答复" rows="1"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success btn-xs" value="提交">
				</div>
			</form>
		</div>
	</li>

</template>
