<template name="topnav">

	<div class="topnav">
		<h2 style="margin-bottom: 15px;">
			<a href="{{pathFor 'home'}}">
				<img src="/logo.png" alt="">
			</a>
		</h2>
		<ul class="list-inline mgb15">
			<li>
				<a href="{{pathFor 'talks'}}">
					<img src="/01.png" width="140" alt="">
				</a>
			</li>
			<li>
				<a href="{{pathFor 'suggestions'}}">
					<img src="/02.png" width="140" alt="">
				</a>
			</li>
			<li>
				<a href="{{pathFor 'messages'}}">
					<img src="/03.png" width="140" alt="">
				</a>
			</li>
			<li>
				<a href="{{pathFor 'achievements'}}">
					<img src="/04.png" width="140" alt="">
				</a>
			</li>
		</ul>
		<div class="topinfo">
			<span id="currentDatetime">您好，今天是{{moment currentMoment 'YYYY年M月D日、dddd、A HH:mm:ss'}} </span>
			<span id="currentWeather">天气读取中。。。</span>
		</div>
	</div>

</template>
